asgiref
cmake
click
dj-database-url
dlib
django
django-crispy-forms
django-heroku
face-recognition
face-recognition-models
gunicorn
numpy
opencv-python
Pillow
psycopg2
pybase64
pytz
simpy
simpy.io
sqlparse
whitenoise
