{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<style>
    .card1 {
        border-radius: 50%;
        width: 18rem;
        height: 18rem;
        margin: 10px 0px 10px 0px;
        padding: 30px;
        /* background-image: linear-gradient(to bottom, #59D3BB , rgb(255, 255, 255)); */
        border: none;
    }

    .card2 {
        border-radius: 50%;
        width: 18rem;
        height: 18rem;
        object-fit: cover;
        padding: 50px;
        /* background-image: linear-gradient(to bottom, #59D3BB , rgb(255, 255, 255)); */
        border: none;
        pointer-events: none;
    }
</style>

<body style="background-color: rgb(220, 220, 220);">
    <div class="jumbotron jumbotron-fluid" style="background-color: rgba(0, 0, 0, 0.747); color: white;">
        <div class="container">
            <h1 class="display-4">Welcome {{user.orgname}}!!</h1>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <br><br>

    <div class="container-fluid">
        <div class="row" align="center">
            <div class="col-lg-12">
                <h1>Click to Select Category!!</h1>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-12 col-lg-4 col-xl-4 " style="margin-bottom: 30px;">
                <a href="/orgdashboard/attendance/" class="btn active" role="button" aria-pressed="true"
                    style="background-color: transparent;">
                    <div class="card bg-light text-dark card1 shadow">
                        <img src="{% static 'atten.png'%}" class="card-img card2" alt="image">
                        <div class="card-img-overlay" style="padding-top: 5px;">
                            <br>
                            <h5 class="card-title">Take Attendance</h5>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-12 col-lg-4 col-xl-4" style="margin-bottom: 30px;">
                <a href="/registeruser/" class="btn active" role="button" aria-pressed="true"
                    style="background-color: transparent;">
                    <div class="card bg-light text-dark card1 shadow">
                        <img src="{% static 'reg.jpg'%}" class="card-img card2" alt="image">
                        <div class="card-img-overlay" style="padding-top: 5px;">
                            <br>
                            <h5 class="card-title">New Register</h5>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-12 col-lg-4 col-xl-4" style="margin-bottom: 30px;">
                <a href="/orgdashboard/viewall/" class="btn active" role="button" aria-pressed="true"
                    style="background-color: transparent;">
                    <div class="card bg-light text-dark card1 shadow">
                        <img src="{% static 'vew.png'%}" class="card-img card2" alt="image">
                        <div class="card-img-overlay" style="padding-top: 5px;">
                            <br>
                            <h5 class="card-title">View All</h5>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-12 col-lg-12 col-xl-12" style="margin-bottom: 30px;">
                <a href="/orgdashboard/check/" class="btn active" role="button" aria-pressed="true"
                    style="background-color: transparent;">
                    <div class="card bg-light text-dark card1 shadow">
                        <img src="{% static 'chk.jpg'%}" class="card-img card2" alt="image">
                        <div class="card-img-overlay" style="padding-top: 5px;">
                            <br>
                            <h5 class="card-title">Check Attendance</h5>
                        </div>
                    </div>
                </a>

            </div>


        </div>

    </div>



    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>